*{
    margin: 0;
    padding: 0;
}
.container__style{
    background-color: black;
    color: white;
    font-size: 36px;
}

.container_button{
    border: 1px solid black;
    padding: 10px;
}

.container__buttons{
    
}
